# Pliki tymczasowe Pythona
__pycache__/
*.py[cod]

# Środowiska wirtualne
venv/
.venv/

# Lokalna baza i pliki Django
db.sqlite3
media/
staticfiles/

# Lokalne ustawienia i sekrety
.env
.env.*

# Edytory
.idea/
.vscode/

# System operacyjny
.DS_Store
Thumbs.db